<ion-header>
  <ion-toolbar class="header">
    <ion-title color="light">Agregar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="warning" class="icon"
      defaultHref="/"
      text="Volver"
      mode="ios">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo: </ion-label>
      <ion-input type="text" name="txtNombre" [(ngModel)]="newAlumno.correo" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Tipo Sección: </ion-label>
      <ion-input type="text" name="txtTipo" [(ngModel)]="newAlumno.seccion" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha: </ion-label>
      <ion-input type="text" name="txtRaza" [(ngModel)]="newAlumno.fecha" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)=" crearAlumno()" expand="block" fill="outline" color="success" shape="round">
          Agregar Alumno
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
