<ion-header>
  <ion-toolbar class="header">
    <ion-title class="titlelogin">Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <br>
  <img class="logo" src="assets/logoRAPP.jpg">
  <br>
  <br> 
  <ion-card>
      <ion-button class="buttonlogin" expand="block" shape="round" routerLink="/iniciar-sesion">Iniciar sesion como Alumno</ion-button>
      <ion-button class="buttonlogin" expand="block" shape="round" routerLink="/iniciar-sesion-profesor">Iniciar sesion como Profesor</ion-button>
      <ion-button class="buttonlogin" expand="block" shape="round" routerLink="/registrarse">Registrarse</ion-button>
  </ion-card>


</ion-content>
