<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button color="warning" class="icon"
        defaultHref="/"
        text="Volver"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="tittle">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-card class="transparent-card">
    <h1 class="titleau">¿A que nos dedicamos?</h1>
    <h5 class="contentau"> Somos un organizacion que se dedica
      a automatizar y facilitar procesos de 
      instituciones academicas, ¡Para llevar 
      una vida mas tecnologica! </h5>
   </ion-card>
  

  <img src="assets/2174791.png" alt="">
</ion-content>
